#textdomain wesnoth-A_New_Order
[unit]
id=Akladian Queen
name= _ "female^Queen"
gender=female
race=akladian
image="wayfarer/akl-queen.png"
image_defensive="wayfarer/akl-queen.png"
profile=portraits/lady_lorin.png
hitpoints=52
movement_type=akladianfoot
movement=6
experience=100
level=3
alignment=neutral
advanceto=null
cost=110
ability=leadership,skirmisher
usage=fighter
unit_description= _ "NEED SOME DESCRIPTION HERE"
get_hit_sound=female-hit.wav
	[advancement]
		max_times=2
		description=_"armoured"
		id=armoured
		[effect]
		apply_to=hitpoints
		increase=10
		increase_total=10	
		[/effect]
		[effect]
		apply_to=movement
		increase=-1	
		[/effect]
		[effect]
		apply_to=max_experience
		increase=50	
		[/effect]
	[/advancement]
	[advancement]
		max_times=1
		description=_"fighter"
		id=fighter
		[effect]
		apply_to=attack
		increase_damage=1	
		[/effect]
		[effect]
		apply_to=max_experience
		increase=50	
		[/effect]
	[/advancement]
	[advancement]
		max_times=3
		description=_"sword dancer"
		id=sword_dancer
		[effect]
		apply_to=attack
		increase_attacks=1	
		increase_damage=-1
		[/effect]
		[effect]
		apply_to=max_experience
		increase=50	
		[/effect]
	[/advancement]
	[advancement]
		max_times=100
		description=_"tough"
		id=tough
		[effect]
		apply_to=hitpoints
		increase=3
		increase_total=3	
		[/effect]
		[effect]
		apply_to=max_experience
		increase=10	
		[/effect]
	[/advancement]
	[attack]
	name=sword
	type=blade
	range=short
	damage=13
	number=4
		[frame]
		begin=-100
		end=100
		image="wayfarer/akl-queen.png"
		[/frame]
		[sound]
		time=-250
		sound=sword-swish.wav
		[/sound]
	[/attack]
[/unit]
