#textdomain wesnoth-A_New_Order
[unit]
id=Akladian Darknite
name= _ "Akladian Darknite"
race=akladian
image="akladian/akl-darknite.png"
image_defensive="akladian/akl-darknite.png"
profile=portraits/profile_darknite.png
hitpoints=54
movement_type=akladianfoot
movement=5
experience=200
level=3
alignment=chaotic
advanceto=null
cost=80
usage=fighter
unit_description= _ "After spending whole their life in constant fight, Darknites are excellent warriors and formidable opponents, hated and feared in world of Wesnoth. They know no pity and except none."
get_hit_sound=groan.wav
	[advancement]
		max_times=100
		description=_"tough"
		id=tough
		[effect]
		apply_to=hitpoints
		increase=3
		increase_total=3	
		[/effect]
		[effect]
		apply_to=max_experience
		increase=10	
		[/effect]
	[/advancement]
	[advancement]
		max_times=1
		description=_"fast attack"
		id=fast_attack
		[effect]
		apply_to=attack
		increase_attacks=1	
		[/effect]
		[effect]
		apply_to=max_experience
		increase=100	
		[/effect]
	[/advancement]
	[advancement]
		max_times=1
		description=_"fighter"
		id=fighter
		[effect]
		apply_to=attack
		increase_damage=1	
		[/effect]
		[effect]
		apply_to=max_experience
		increase=50	
		[/effect]
	[/advancement]
	[attack]
	name=sword
	type=blade
	range=short
	damage=11
	number=5
		[frame]
		begin=-150
		end=0
		image="akladian/akl-darknite.png"
		[/frame]
	[/attack]
[/unit]
