#textdomain wesnoth-A_New_Order
[unit]
id=Fugitive
name= _ "Fugitive"
race=human
gender=male, female
image=neutral-fugitive.png
image_defensive=neutral-fugitive-defend.png
hitpoints=61
movement_type=elusivefoot
movement=7
experience=500
level=3
alignment=chaotic
advanceto=null
#ifdef USE_L3_OUTLAWS
	[advancefrom]
	unit=Outlaw
	experience=110
	[/advancefrom]
#endif
cost=80
usage=mixed fighter
unit_description= _ "Veteran criminals become notorious among the authorities for both their battle prowess and ability to elude capture.  Dangerous and ruthless, they can be fearful in their element but no real match for professional law enforcment forces."
get_hit_sound=groan.wav
	[attack]
	name=mace
	type=impact
	range=short
	damage=11
	number=2

		[frame]
		begin=-100
		end=100
		image=neutral-fugitive-attack1.png
		[/frame]

		[sound]
		time=-100
		sound=mace.wav
		[/sound]
	[/attack]
	[attack]
	name=sling
	type=impact
	range=long
	damage=7
	number=4
		[sound]
		time=-100
		sound=firearrow.wav
		[/sound]

		[frame]
		begin=-250
		end=-50
		image=neutral-fugitive-attack2.png
		[/frame]
		[frame]
		begin=-50
		end=50
		image=neutral-fugitive-attack3.png
		[/frame]

		[missile_frame]
		begin=-100
		end=0
		image=projectiles/stone.png
		image_diagonal=projectiles/stone.png
		[/missile_frame]
	[/attack]

	[female]
	id=Fugitive
	name= _ "female^Fugitive"
	race=human
	gender=female
	image="neutral-fugitive+female.png"
	image_defensive="neutral-fugitive+female-defend.png"
	hitpoints=61
	movement_type=elusivefoot
	movement=7
	experience=500
	level=3
	alignment=chaotic
	advanceto=null
	#ifdef USE_L3_OUTLAWS
		[advancefrom]
		unit=Outlaw
		experience=110
		[/advancefrom]
	#endif
	cost=80
	usage=mixed fighter
	unit_description= _ "Veteran criminals become notorious among the authorities for both their battle prowess and ability to elude capture.  Beautiful and dangerous, their beauty is exceeded only by their dangerousness."
	get_hit_sound=groan.wav
	[attack]
	name=mace
	type=impact
	range=short
	damage=11
	number=2

		[frame]
		begin=-100
		end=100
		image="neutral-fugitive+female-attack1.png"
		[/frame]

		[sound]
		time=-100
		sound=mace.wav
		[/sound]
	[/attack]
	[attack]
	name=sling
	type=impact
	range=long
	damage=7
	number=4
		[sound]
		time=-100
		sound=firearrow.wav
		[/sound]

		[frame]
		begin=-250
		end=-50
		image="neutral-fugitive+female-attack2.png"
		[/frame]
		[frame]
		begin=-50
		end=50
		image="neutral-fugitive+female-attack3.png"
		[/frame]

		[missile_frame]
		begin=-100
		end=0
		image=projectiles/stone.png
		image_diagonal=projectiles/stone.png
		[/missile_frame]
	[/attack]
	[/female]
[/unit]
