#textdomain wesnoth-A_New_Order
[scenario]
	name = _ "Avenging Ruen"
	id=ano_14_orcs
	map_data="{@campaigns/A_New_Order/maps/RuenRuins}"
	next_scenario=ano_13
#ifdef EASY
	turns=28
#endif
#ifdef NORMAL
	turns=24
#endif
#ifdef HARD
	turns=21
#endif

    {@campaigns/A_New_Order/scenarios/programming-macros.cfg}
    {@campaigns/A_New_Order/scenarios/ano_macros.cfg}
    {@campaigns/A_New_Order/scenarios/conversations.cfg}
    {@campaigns/A_New_Order/scenarios/winter.cfg}
    {@campaigns/A_New_Order/scenarios/14macros.cfg}
    {@campaigns/A_New_Order/scenarios/elvish_macros.cfg}

	[story]
		[part]
			story=_"Inside of burned village of Ruen Gawen's soldiers found massacred bodies of men, women and children. No one stayed unmoved by those terrible sight. Looking at their gaces Gawen sadly thought, that Orcs can't expect any mercy in this battle and no prisoners probably will be taken."
		[/part]
	[/story]

	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}

	 victory_when_enemies_defeated=yes
	{STARTING_VILLAGES 2 8}
	{STARTING_VILLAGES 3 16}
	{PLACE_IMAGE (items/signpost.png) 3 25}
	[side]
		controller=human
		description=Gawen Hagarthen
		user_description=_"Gawen Hagarthen"
		type=Hagarthen
		team_name=good
		canrecruit=1
		side=1
		recruit=Fencer,Peasant
	[/side]

	[side]
		controller=ai
		description=Uruk Lug
		user_description="Uruk Lug"
		type=Orcish Warlord
		team_name=orcish
		canrecruit=1
		side=2
		recruit=Orcish Grunt,Orcish Warrior,Wolf Rider,Orcish Archer,Troll Whelp,Goblin Pillager,Goblin Spearman,Orcish Shaman
		{GOLD 100 110 120}
		{INCOME 2 3 3}
		[ai]
			recruitment_pattern=fighter,fighter,healer,fighter
			recruitment_ignore_bad_movement=yes
			recruitment_ignore_bad_combat=yes
			caution=0.75
			aggression=0.2
			grouping=defensive
			{ATTACK_DEPTH 2 2 3}
		[/ai]
        [ai]
			time_of_day=dusk,first_watch,second_watch
			aggression=0.5
			caution=0
			grouping=no
			attack_depth=3
        [/ai]
	[/side]

	[side]
		controller=ai
		description=Baruk Gar
		user_description=_"Baruk Gar"
		type=Orcish Warlord
		team_name=orcish
		canrecruit=1
		side=3
		recruit=Orcish Warrior,Wolf Rider,Orcish Archer,Orcish Assassin,Orcish Slayer,Troll,Orcish Shaman
		{GOLD 120 130 140}
		{INCOME 2 3 4}
		[ai]
			recruitment_pattern=fighter,fighter,healer,fighter
			recruitment_ignore_bad_movement=yes
			recruitment_ignore_bad_combat=yes
			caution=0.5
			aggression=0.2
			grouping=offensive
			{ATTACK_DEPTH 2 2 3}
		[/ai]
        [ai]
			time_of_day=dusk,first_watch,second_watch
			aggression=1
			caution=0
			grouping=no
			attack_depth=3
        [/ai]
	[/side]

	[event]
		name=prestart
		{CHECKVER}
		{ANOVER}
		{RECALL (Matthews Eagle Eye)}
		{RECALL (Ruvio)}
		{RECALL (Karen)}
		{RECALL (Lady Lorin)}
	[/event]

	[event]
		name=attack
		[filter]
			description=Matthews Eagle Eye
		[/filter]
		{MESSAGE (Matthews Eagle Eye) (_"Revenge!")}
	[/event]

	[event]
		name=start
		{VARIABLE ano_strateg_pos 5}
		{VARIABLE ano_orcs_visited yes}
		{MESSAGE (Matthews Eagle Eye) (_"I think they keept captured villagers in the dungeons of their castles. It's time to let them free and kill the orcs!")}
		{MSGGAWENW (_"Allright. We are going to free those peasants, kill the orcs and remember: we have to interrogate their leader. Maybe they know something which could be interesting for us?")}
		{IF_HAVE_UNIT (Lady Lorin)}
			[objectives]
				side=1
				note=_"You my withdraw by moving Gawen Hagarthen to the signpost south of your initial position."
				[objective]
					description=_"Kill all enemy leaders"
					condition=win
				[/objective]
				{OBJECTIVES14}
				{LORINOBJECTIVES}
			[/objectives]
		{ELSE}
			[objectives]
				side=1
				note=_"You my withdraw by moving Gawen Hagarthen to the signpost south of your initial position."
				[objective]
					description=_"Kill all enemy leaders"
					condition=win
				[/objective]
				{OBJECTIVES14}
			[/objectives]
		{END_IF}

	[/event]

	{LORIN_KAREN_COMPETITION}
	[event]
		name=victory
		{LORIN_KAREN_COMPV}
	[/event]

	[event]
		{MOVETO 3 25 (Gawen Hagarthen)}
		{MSGOPTI2 (Ruvio) (_"My lord, are you sure you want to retreat?") (portraits/ruvio.png)
		(_"Yes, definetely.") (yes)
		(_"Well, maybe not.") (no)}
		{IF ano_opt equals yes}
			{MSGGAWENW (_"We have no time and forces to defeat the orcs here. Retreat!")}
			{NEXT_SCENARIO continue ano_13 no}
		{END_IF_WITHOUT_ELSE}
	[/event]

#Uruk Lug, Baruk Gar
	[event]
		{KILLEDBY (Uruk Lug) (Lady Lorin)}
		{MSGLORINW (_"Hear, hear, big orc in my small hands. Now, how high can big orc sing when I will use that knife?")}
		{MESSAGE (Uruk Lug) (_"Waitwaitwait, human woman. Do orc no harm.")}
		{MSGLORINW (_"Human woman will do no harm if orcish idiot will answer all the questions. Why are you here? Why are you allied with Akladians?")}
		{MESSAGE (Uruk Lug) (_"My boss know everything, I know nothing. We are here for having fun and good meat I think.")}
		{MSGLORINW (_"Hey, hey, don't die so fast, I haven't finished asking you!")}
		{IF_HAVE_UNIT (Andrey Yaranov)}
			{MSGYARANOVW (_"Ho, ho, how do you call when woman is hugging orcish dead body? Necrophilia?")}
			{MSGKARENW (_"In case of Lady Lorin, remembering her age, I would call it rather incest.")}
		{END_IF_WITHOUT_ELSE}
	[/event]

	[event]
		{KILLEDBY (Baruk Gar) (Lady Lorin)}
		{MSGLORINW (_"I don't want to waste too much time, so answer me fast: There is alliance between traitors from Akladian race and Orcs. Why?")}
		{MESSAGE (Baruk Gar) (_"And why should I tell you, stupid woman?")}
		{MSGLORINW (_"THAT is for calling me stupid woman. And THAT is gratis. Speak!")}
		{MESSAGE (Baruk Gar) (_"Don't... We were ordered by Grekulak to hear the Akladians.. Why he ordered us to ally with them I do not know..")}
		{MSGLORINW (_"Who is that Grekulak? Why he allied with Akladian traitors?")}
		{MESSAGE (Baruk Gar) (_"Grekulak.. is.. our.. guide.. he ..")}
		{MSGLORINW (_"He? He what? Answer me, come on!")}
		{MSGRUVIOW (_"Lady Lorin, stop it. He is dead. He won't say a word more.")}
		{IF_HAVE_UNIT (Elorain)}
			{MESSAGE_IMG (Elorain) (_"Grekulak! I know that name. We should go back to Freetown and report that, that's all we had to know!") (portraits/elorain.png)}
		{ELSE}
			{IF_HAVE_UNIT (Milildur)}
			{MESSAGE_IMG (Milildur) (_"Grekulak! I know that name. We should go back to Freetown and report that, that's all we had to know!") (portraits/milildur.png)}
			{ELSE}
				{IF_HAVE_UNIT (Kyobaine)}
					{MESSAGE_IMG (Kyobaine) (_"Grekulak! I know that name. We should go back to Freetown and report that, that's all we had to know!") (portraits/kyobaine.png)}
				{END_IF_WITHOUT_ELSE}
			{END_IF}
		{END_IF}
		{MSGLORINW (_"But this is what you wanted, right? Know who is behind this alliance. Now you know, it is some 'Grekulak'")}
		{MSGRUVIOW (_"Maybe you are right. We should go back to Freetown then.")}
	{VARIABLE ano_found_news_orcs yes}
			
	[/event]

	[event]
		{KILLEDBY (Uruk Lug) (Gawen Hagarthen)}
		{MSGGAWENW (_"I will allow you to live, if you will tell me few things.")}
		{MESSAGE (Uruk Lug) (_"Yes, yes, I will answer, yummie.. liver. What kind of liver it would be? .")}
		{MSGGAWENW (_"What??")}
		{MESSAGE (Uruk Lug) (_"What kind of liver it will be. Human liver, uhmm, or delicious liver of Elvish woman?")}
		{MSGGAWENW (_"No, no, you did not understand me. I will let you LIVE, not get you LIVER. Why are you here allied with Akladians?")}
		{MESSAGE (Uruk Lug) (_"My boss would know. I know nothing, I am great warrior, not great thinker. ")}
		{IF_HAVE_UNIT (Matthews Eagle Eye)}
			{MESSAGE (Matthews Eagle Eye) (_"My lord! Do not let him go! He was beating and killing my friends and people from my family! If you won't kill him, I will!")}
		{ELSE}
		{MSGOPTI2 (Gawen Hagarthen) (_"Should I spare him?") (portraits/gawen_winter.png) (_"Yes, definetely.") (yes) (_"No.") (no) }
			{IF ano_opt equals yes}
				{MESSAGE (Uruk Lug) (_"Thank you! Thank you!")}
			{ELSE}
				{MESSAGE (Uruk Lug) (_"Aaaargh!!")}
			{END_IF}
		{END_IF}
	[/event]

	[event]
		{KILLEDBY (Baruk Gar) (Gawen Hagarthen)}
		{MSGGAWENW (_"I will allow you to live, if you will tell me few things.")}
		{MESSAGE (Baruk Gar) (_"Ask then, human.")}
		{MSGGAWENW (_"Why are you allied with Akladians?")}
		{MESSAGE (Baruk Gar) (_"I don't know much - only that this was the wish of our guide, Grekulak. He wished Akladians to be allied with us.")}
		{IF_HAVE_UNIT (Elorain)}
		{MESSAGE_IMG (Elorain) (_"Grekulak! I know that name. We should go back to Freetown and report that, that's all we had to know!") (portraits/elorain.png)}
		{ELSE}
			{IF_HAVE_UNIT (Milildur)}
			{MESSAGE_IMG (Milildur) (_"Grekulak! I know that name. We should go back to Freetown and report that, that's all we had to know!") (portraits/milildur.png)}
			{ELSE}
				{IF_HAVE_UNIT (Kyobaine)}
					{MESSAGE_IMG (Kyobaine) (_"Grekulak! I know that name. We should go back to Freetown and report that, that's all we had to know!") (portraits/kyobaine.png)}
				{END_IF_WITHOUT_ELSE}
			{END_IF}
		{END_IF}
		{MSGRUVIOW (_"Grekulak? That's something to report. We should go back to Freetown then.")}
		{VARIABLE ano_found_news_orcs yes}
	[/event]

	[event]
		{KILLEDBY (Uruk Lug) (Ruvio)}
		{MSGRUVIOW (_"I will allow you to live, if you will tell me few things.")}
		{MESSAGE (Uruk Lug) (_"Yes, yes, I will answer, yummie.. liver. What kind of liver it would be? .")}
		{MSGRUVIOW (_"What??")}
		{MESSAGE (Uruk Lug) (_"What kind of liver it will be. Human liver, uhmm, or delicious liver of Elvish woman?")}
		{MSGRUVIOW (_"No, no, you did not undestand me. I will let you LIVE, not LIVER. Why are you here allied with Akladians?")}
		{MESSAGE (Uruk Lug) (_"My boss would know. I know nothing, I am great warrior, not great thinker. ")}
		{IF_HAVE_UNIT (Matthews Eagle Eye)}
		{MESSAGE (Matthews Eagle Eye) (_"My lord! Do not let him go! He was beating and killing my friends and people from my family! If you won't kill him, I will!")}
		{ELSE}
		{MSGOPTI2 (Ruvio) (_"Should I spare him?") (portraits/gawen_winter.png)
			(_"Yes, definetely.") (yes)
			(_"No.") (no)
		}
			{IF ano_opt equals yes}
				{MESSAGE (Uruk Lug) (_"Thank you! Thank you!")}
			{ELSE}
				{MESSAGE (Uruk Lug) (_"Aaaargh!!")}
			{END_IF}
		{END_IF}
	[/event]

	[event]
		{KILLEDBY (Baruk Gar) (Ruvio)}
		{MSGRUVIOW (_"I will allow you to live, if you will tell me few things.")}
		{MESSAGE (Baruk Gar) (_"Ask then, human.")}
		{MSGRUVIOW (_"Why are you allied with Akladians?")}
		{MESSAGE (Baruk Gar) (_"I don't know much - only that this was the wish of our guide, Grekulak. He wished Akladians to be allied with us.")}
		{IF_HAVE_UNIT (Elorain)}
		{MESSAGE_IMG (Elorain) (_"Grekulak! I know that name. We should go back to Freetown and report that, that's all we had to know!") (portraits/elorain.png)}
		{ELSE}
			{IF_HAVE_UNIT (Milildur)}
			{MESSAGE_IMG (Milildur) (_"Grekulak! I know that name. We should go back to Freetown and report that, that's all we had to know!") (portraits/milildur.png)}
			{ELSE}
				{IF_HAVE_UNIT (Kyobaine)}
					{MESSAGE_IMG (Kyobaine) (_"Grekulak! I know that name. We should go back to Freetown and report that, that's all we had to know!") (portraits/kyobaine.png)}
				{END_IF_WITHOUT_ELSE}
			{END_IF}
		{END_IF}
		{MSGRUVIOW (_"Grekulak? That's something to report. We should go back to Freetown then.")}
		{VARIABLE ano_found_news_orcs yes}
	[/event]

	[event]
		name=die
		[filter_second]		
			description=Matthews Eagle Eye
		[/filter_second]
	
		{MESSAGE (Matthews Eagle Eye) (_"That's what waits for any orcs which will be in my hands!!")}
	[/event]

	[event]
		name=moveto
		[filter]
			x=6
			y=2
			side=1
		[/filter]
		[unit]
			type=Peasant
			description="John the Smith"
			user_description=_"John the Smith"
			x=6
			y=2
			[modifications]
				{TRAIT_LOYAL}	
				{TRAIT_STRONG}
				{TRAIT_RESILIENT}
			[/modifications]
		[/unit]
		[unit]
			type=Peasant
			description="Paul the Small"
			user_description=_"Paul the Small"
			x=6
			y=2
			[modifications]
				{TRAIT_LOYAL}	
				{TRAIT_DEXTROUS}
				{TRAIT_RESILIENT}
			[/modifications]
		[/unit]
		[unit]
			type=Peasant
			description="Quick Herman"
			user_description=_"Quick Herman"
			x=6
			y=2
			[modifications]
				{TRAIT_LOYAL}	
				{TRAIT_QUICK}
				{TRAIT_INTELLIGENT}
			[/modifications]
		[/unit]
		{MESSAGE (Quick Herman) (_"Hurray! We are free! Now, death to the orcs!")}
	[/event]

	[event]
		name=moveto
		[filter]
			x=32
			y=13
			side=1
		[/filter]
		[unit]
			type=Peasant
			description="Gonzales the Steelhand"
			user_description=_"Gonzales the Steelhand"
			x=32
			y=13
			[modifications]
				{TRAIT_LOYAL}	
				{TRAIT_STRONG}
				{TRAIT_RESILIENT}
			[/modifications]
		[/unit]
		[unit]
			type=Peasant
			description="Owaec"
			user_description=_"Owaec"
			x=32
			y=13
			[modifications]
				{TRAIT_LOYAL}	
				{TRAIT_DEXTROUS}
				{TRAIT_RESILIENT}
			[/modifications]
		[/unit]
		[unit]
			type=Peasant
			description="Fast Robin"
			user_description=_"Fast Robin"
			x=32
			y=13
			[modifications]
				{TRAIT_LOYAL}	
				{TRAIT_QUICK}
				{TRAIT_INTELLIGENT}
			[/modifications]
		[/unit]
		{MESSAGE (Fast Robin) (_"Hurray! We are free! Now, death to the orcs!")}
	[/event]

	[event]
		name=time over
		{MSGGAWENW (_"Oh no! New reinforcements arrived to help our enemies, now we have no chances to defeat them!")}
	[/event]

	{ALL_ANO_DEATHS}
	{ELVISH_DEATHS}
	{ELVISH_KILLING}		
[/scenario]
