#textdomain wesnoth-A_New_Order
[scenario]
	name = _ "Unexpected guests"
	id=ano_5a
	map_data="{@campaigns/A_New_Order/maps/BurnedCastle}"
	next_scenario=ano_6
#ifdef EASY
	turns=28
#endif
#ifdef NORMAL
	turns=24
#endif
#ifdef HARD
	turns=21
#endif

    {@campaigns/A_New_Order/scenarios/programming-macros.cfg}
    {@campaigns/A_New_Order/scenarios/ano_macros.cfg}
    {@campaigns/A_New_Order/scenarios/conversations.cfg}

	{PLACE_IMAGE (terrain/ruiny.png) 13 13}
	{PLACE_IMAGE (terrain/ruiny_studnia.png) 14 13}
	{PLACE_IMAGE (terrain/ruiny2.png) 13 15}
	{PLACE_IMAGE (terrain/ruiny2.png) 14 15}

	[story]
		{AFTERBARNONSTORY}
	[/story]

	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}

	 victory_when_enemies_defeated=yes

	[side]
		controller=human
		description=Lady Lorin
		user_description=_"Lady Lorin"
		type=Akladian Lady
		team_name=good
		canrecruit=1
		side=1
		shroud=yes
		recruit=Akladian Wiseman,Akladian Clanmember,Akladian Warrior
	[/side]

	[side]
		controller=ai
		description=Uruk Maluf
		user_description=_"Uruk Maluf"
		type=Orcish Warrior
		team_name=orcish
		canrecruit=1
		side=2
		recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll Whelp
		{GOLD 100 110 120}
		{INCOME 2 4 6}
		[ai]
			recruitment_ignore_bad_movement=yes
			recruitment_ignore_bad_combat=yes
			simple_targetting=yes
			caution=0
			aggression=1
			{ATTACK_DEPTH 2 3 4}
		[/ai]
	[/side]

	[side]
		controller=ai
		description=Arlgor Maunarr
		user_description=_"Arlgor Maunarr"
		type=Orcish Warrior
		team_name=orcish
		canrecruit=1
		side=3
		recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll Whelp,Orcish Assassin
		{GOLD 100 110 120}
		{INCOME 2 4 6}
		[ai]
			recruitment_ignore_bad_movement=yes
			recruitment_ignore_bad_combat=yes
			simple_targetting=yes
			aggression=0.5
			{ATTACK_DEPTH 3 4 5}
		[/ai]

	[/side]

	[event]
		name=prestart
		{CHECKVER}
		{RECALL ("Reme Carrenemoe")}
		{VARIABLE ano_orcs yes}
		[set_variable]
			name=ano_arl_interrogated
			value=no
		[/set_variable]
	[/event]

	[event]
		name=start
		{AFTERBARNONTALK}

		{MESSAGE_IMG (Reme Carrenemoe) (Anyway, this is territory of my friend, loyal to Gawen Hagarthen. He will help us cure our wounded and provide us supplies for further journey.) (portraits/reme.png)} 

		[store_gold]
			side=1
			variable=gold
		[/store_gold]
		[if]
			[variable]
				name=gold
				less_than=200
			[/variable]
			[then]
			{MESSAGE_IMG ("Reme Carrenemoe") (I am not sure whether we have enough gold for this endeavour. I wish we'd got more in previous battles, at least 200.) (portraits/reme.png)}
			[/then]
		[/if]
		[objectives]
			side=1
			[objective]
				description=Kill all enemies
				condition=win
			[/objective]
			[objective]
				description=Death of Lady Lorin
				condition=lose
			[/objective]
			[objective]
				description=Death of Reme Carrenemoe
				condition=lose
			[/objective]
		[/objectives]
	[/event]

	[event]
		name=sighted
		[filter]
			side=2,3
		[/filter]
		
		{MESSAGE_IMG (Uruk Maluf) (Humans! Kill them all!) (portraits/core/James_Woo/orc-warlord.png)}
		{MESSAGE_IMG (Arlgor Maunarr) (Nonono. We are here for recoinessance. We were given specific orders. We should withdraw to get the message back to headquarter. You know, da bosses.) (portraits/core/James_Woo/orc-warlord3.png)}
		{MESSAGE_IMG (Uruk Maluf) (Kill them all! Kill them all! Humans!) (portraits/core/James_Woo/orc-warlord.png)}
		{MESSAGE_IMG (Arlgor Maunarr) (Sigh. Sometimes I feel I was born in wrong time, wrong place and wrong race.) (portraits/core/James_Woo/orc-warlord3.png)}
	[/event]

	
	[event]
		name=capture
		
		[filter]
			side=1
		[/filter]
		{MESSAGE (narrator) (We are liberated! Hurray! Wait a moment.. Those are Akladians. I have never thought I would be glad to see them.)}
	[/event]

	[event]
		name=moveto
		[filter]
			side=1
			x=11-16
			y=11-16
		[/filter]
		{MESSAGE (unit) (My God! What happened here?)}
		{MESSAGE (Lady Lorin) (One for sure, we will find no shelter, no supplies and no Reme's friends here.)}
	[/event]

	[event]
		name=die
		[filter]
			description=Arlgor Maunarr
		[/filter]
		[filter_second]
			[not]
				description=Lady Lorin
			[/not]
		[/filter_second]

		{MESSAGE (second_unit) (You were worthy opponent. My ancestors probably would decide to honour you by eating young heart. Now, die!)}
		[if]
			[variable]
				name=ano_assa_interrogated
				equals=no
			[/variable]
			[then]
		{MESSAGE (Lady Lorin) (Wait! I hate when you kill the people before I have change to interrogate them. It's the second time.)}
		{MESSAGE_IMG (Reme Carrenemoe) (Second time? What do you mean?) (portraits/reme.png)}
		{MESSAGE (Lady Lorin) (I had no time to play with that assassin send to kill Gawen, don't you remember?)}
			[/then]
			[else]
		{MESSAGE (Lady Lorin) (Wait! I hate when you kill the people before I have change to interrogate them.)}
			[/else]
		[/if]
	[/event]

	[event]
		name=die
		[filter]
			description=Uruk Maluf
		[/filter]
		[filter_second]
			description=Lady Lorin
		[/filter_second]
		{MESSAGE (Lady Lorin) (Before I kill you, I want to tell me everything you know! Why you are here? How it can be we have not heard about any Orcs?)}
		{MESSAGE_IMG (Uruk Maluf) (Kill the humans.. good meat.) (portraits/core/James_Woo/orc-warlord.png)}
		[if]
			[variable]
				name=ano_arl_interrogated
				equals=yes
			[/variable]
			[then]
				{MESSAGE (Lady Lorin) (Sigh. We will get nothing more. The other one was far more intelligent.)}
			[/then]
			[else]
				{MESSAGE (Lady Lorin) (Sigh. It seems we could get more from the second Orcish leader. That one is... I mean was.. far less intelligent.)}
			[/else]
		[/if]
	[/event]

	[event]
		name=attack
		[filter_second]
			description=Arlgor Maunarr
		[/filter_second]
		[filter]
			[not]
			description=Lady Lorin
			[/not]
		[/filter]
		{MESSAGE (Lady Lorin) (Do not kill him! Leave the final blow to me, I have to interrogate him!)}
	[/event]

	[event]
		name=die
		[filter]
			description=Arlgor Maunarr
		[/filter]
		[filter_second]
			description=Lady Lorin
		[/filter_second]
		{MESSAGE (Lady Lorin) (Before I'll kill you, I want to ask you a question. Do you prefer to die painlessly or do you want me to think some most nightmarish way to die?)}
		{MESSAGE_IMG (unit) (Being killed by human woman is already most nightmarish way to die I can imagine.) (portraits/core/James_Woo/orc-warlord3.png)}
		{MESSAGE (Lady Lorin) (You are mistaken, my dear friend, and I can prove it to you. I want you only to anwer few questions. You said you are here on recoinessance. Who have send you here? Answer, or you will end your life as miserable gelding.)}
		{MESSAGE_IMG (unit) (Wait, I will tell you. There is large army to the north, preparing an assault on your kingdom. We were send here to find good way, destroy castle of Raumair and escort an envoy to our head quarter.) (portraits/core/James_Woo/orc-warlord3.png)}
		{MESSAGE (Lady Lorin) (Envoy? What envoy?)}
		{MESSAGE_IMG (unit) (A human. He had not appeared, though, we were waiting for him here.) (portraits/core/James_Woo/orc-warlord3.png)}
		{MESSAGE_IMG (Reme Carrenemoe) (Wait - you were expecting human envoy here? And how did you made your way here, there are underling realms north from here?) (portraits/reme.png)}
		{MESSAGE_IMG (unit) (First question, yes, second, we were not harassed. I don't know why. We were also forbidden to pillage and attack anyone until we came into Vakladia. I know nothing more!) (portraits/core/James_Woo/orc-warlord3.png)}
		{MESSAGE (Lady Lorin) (Really? That's unfortunate for you. Reme, kill him - I have promised him mercy if he would cooperate.)}
		[set_variable]
			name=ano_arl_interrogated
			value=yes
		[/set_variable]
	[/event]

	[event]
		name=victory
		{MESSAGE_IMG (Reme Carrenemoe) (My lady, seems that those orcs had some gold with them) (portraits/reme.png)}
		{MESSAGE (Lady Lorin) (So I am still 'my lady' to you? This gold was probably sacked from the burned homes of your friends. Doesn't that disturb you?)}
		{MESSAGE_IMG (Reme Carrenemoe) (I will bury part of gold inside castle of Raumair, along with heads of killed orcs. This should be enough of recompensation for ghosts of my dead friends. You should keep the rest of gold. You will need it.) (portraits/reme.png)}
		[gold]
			amount=200
			side=1
		[/gold]
	[/event]
	{REME_DEATH}
	{LORIN_DEATH}
[/scenario]
